@font-face {
    font-family: 'Future';
    src: url("fonts/Techfont.ttf");
    
}

body {
    margin: 0;
    font-family: 'Future';
    background-image: url(images/techno.jpg);
    background-size:  cover;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    background-color: rgba(200, 200, 200, 0.8);
    box-shadow: 0px 0px 2px black; 
    padding: 5px 5px 20px 5px;
    max-width: 600px;
}

.inner-main {
   padding: 10px 30px;
}

.inner-main-button-one {
    align-self: center;
    padding: 0px 40px 20px 40px;
    border-bottom: 1px solid black; 
}


.inner-main-password {
    align-self: center;
}

#generate-btn {
    font-family: 'Future';
    border: none;
    padding: 10px 20px;
    color: #020403 ;
    background-color: #00a467;
    align-self: center;
    box-shadow: 0px 0px 1px #020403
}

#generate-btn:hover {
    text-shadow: 0px 0px 1px #020403;
    box-shadow: 0px 0px 3px #020403
}


.password-box {
    display: inline-block;
    background-color: #020403; 
    width: 250px;
    height: 40px;
    margin: 20px 5px;
    padding-bottom: 7px;
    color: #00a467;
    border-radius: 1px;
}

p {
    text-align: center;
}
